{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registration_style.css' %}">
{% endblock %}

{% block content %}
    <div class="top_part">
        <img id="logo"src="{% static 'Books/YLBD_ohne_Schrift.png' %}">
        <h2 class="caption">Login</h2>
        <img id="shelf_left"src="{% static 'Books/library_shelf.png' %}">
        <img id="shelf_right"src="{% static 'Books/library_shelf.png' %}">
        <img id="shelf_bot_left"src="{% static 'Books/library_shelf.png' %}">
        <img id="shelf_bot_right"src="{% static 'Books/library_shelf.png' %}">
    </div>

    <form method="post">
        {% csrf_token %}
       <div class="user_input">
           <p>Username: {{ form.username }}</p>
           <p>Password: {{ form.password }}</p>
           <button id="login_btn"type="submit">Login</button>
       </div>


</form>
{% endblock %}