body{
    background-color: #606C38;
    font-family: "PT Sans", Calibri, Tahoma, sans-serif;
    text-align: center;
}

h2{
    font-size: 100px;
    color: #fefae0;
    margin-top: 30px;
}

img#logo{
    width: 300px;
    height: auto;
    position: fixed;
    left: -20px;
    top: 10px;
}

.logout{
    width: 250px;
    height: 200px;
    margin-right: 0px;
    position: fixed;
    right:0px;
    top: 10px;
}

.logout p#username{
    border: 3px solid #553922;
    border-radius: 20px;
    width: 100px;
    background-color: #fefae0;
    color: #8c603b;
    font-size: 20px;
    position: relative;
    left: 120px;
    top: 5px;

}

.logout button#logout_btn {
    border: 3px solid #553922;
    background-color: #fefae0;
    border-radius: 20px;
    font-size: 15px;
    position: relative;
    left: 50px;
    cursor: pointer;
    top: -20px;
}

.logout button#back_btn{
    border: 3px solid #553922;
    background-color: #fefae0;
    border-radius: 20px;
    font-size: 20px;
    width: 80px;
    position: relative;
    left: 50px;
    top: -7px;
    cursor: pointer;
}

.single_book{
    width: 500px;
    height: 400px;
    position: relative;
    left: 70px;
    top: -100px;
    margin-top: 30px;
    display: inline-block;
}

.information{
    position: absolute;
    bottom: 50px;
    left: 30px;
}

img#book_img{
    border: 1px solid #553922;
    border-radius: 20px;
    position: relative;
    left: 100px;
    top: 100px;
    width: 200px;
    height: 200px;
}

img#brown_book{
    width: 400px;
    height: auto;
    position: absolute;
    left: 50px;
    top: 0px;
}

a#title{
    position: relative;
    left: 100px;
    top: 100px;
    color: #fefae0;
    font-size: 30px;
}

b#details{
    position: relative;
    bottom: -100px;
    left: 100px;
    color: #fefae0;
}

button{
    position: relative;
    left: 90px;
    top: 90px;
    font-size: 20px;
    border: 2px solid #553922;
    border-radius: 30px;
    background-color: #fefae0;
    color: #cb997e;
}

button:hover{
    background-color: #553922;
}
