{% extends 'home.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/book_edit_style.css' %}">
{% endblock %}

{% block title %}Book edit{% endblock %}

{% block logged_in_content %}
<h2>Book edit</h2>
    <img id="logo" src="{% static 'Books/YLBD_mit_Schrift.png' %}">
        <div class="logout">
            <p id="username">Hi {{ user.username }}!</p>
            <button id="back_btn"><a style="color: #cb997e; text-decoration: none" href={% url 'home' %}>Home</a></button></p>
            <button id="logout_btn"><a style="color: #cb997e; text-decoration: none" href="{% url 'logout' %}">Logout</a></button>
        </div>

    {% if not can_delete %}
        You are not authorized to edit books.<br><br>
    {% endif %}
    {% if can_delete %}
         <div class="change_data">
             <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="small_info">
                     <p>Title: {{ form.title }}</p>
                     <p>Subtitle: {{ form.subtitle }}</p>
                     <p>Author: {{ form.author }}</p>
                     <p>Genre: {{ form.genre }}</p>
                     <p>Type: {{ form.type }}</p>
                     <p>Price: {{ form.price }}</p>
                     <p>Pages: {{ form.pages }}</p>
                     <p>Date: {{ form.date_published}}</p>
                 </div>
                 <div class="right_side_descr">
                     Description<br>
                     {{ form.description }}
                 </div>
                 <div class="left_side_descr">
                     Change Picture<br>
                     {{ form.book_picture }}
                 </div>
                  <img id="picture" src="{{ book.book_picture.url }}">
            <button id="edit_btn" type="submit">Edit</button>
            </form>
        </div>
    {% else %}
        {{ book.get_full_title }}<br>
    {% endif %}
{% endblock %}